@charset "utf-8";
/*
	Last Update:2019/12/04
	Auther: iw
*/

/*===================================================================
	#top
===================================================================*/
#main_image,
#main_image .unit { position:relative; overflow:hidden; }
#main_image .unit .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#main_image .unit .text .center { display:table; height:100%; background-size:auto; background-position:center left; }
#main_image,
#main_image .unit > .img_back { height:37vw; max-width:100vw; }

@media  (max-width: 767px){
#main_image, #main_image .unit > .img_back { height:50vw;}
#main_image .unit .text .center {background-size: auto 50%;}
}


#development { background:url(../image/contents/top/image1.jpg) repeat-x center top  / cover; }
#development .box h3 { font-size:1.1em; }
#reserch { background:url(../image/contents/top/image3.jpg) no-repeat center top / 100% auto; }
#factory { background:url(../image/contents/top/image4.jpg) no-repeat center top / cover; }
@media (max-width: 767px){
	#factory .hl_1.pos_al{text-align: center;}
#factory .mb30sp{margin-bottom: 30px;}
}

#brand { background:url(../image/contents/top/image5.jpg) no-repeat center top / cover; }
#brand .box h3 { font-size:1.5em; }

#contact_area {}
#contact_area .center {}
#contact_area .contact_area { padding:50px; }
#contact_area .tel_unit { text-align:right; padding-right:30px; border-right:1px solid #ddd; }
#contact_area .tel_unit h4 { border:1px solid #106b6c; font-size:1.3em; line-height:150%; margin:0 0 10px auto; max-width:350px; text-align:center; }
#contact_area .tel_unit .tel { font-size:3em; font-weight:bold; line-height:100%; }
#contact_area .tel_unit .tel i { font-size:0.9em; margin-right:5px; }

#top_info {}
.info_list a { position:relative; display:block; text-decoration:none; color:#444; background:#fcfcfc; padding:20px; margin-bottom:10px; }
.info_list a dl { display:table; width:100%; }
.info_list a dl > * { display:table-cell; vertical-align:top; }
.info_list a dt { width:140px; }
#top_info .info_list a:after { content:"\f105"; position:absolute; right:20px; top:calc(50% - 0.4em); color:#106b6c; }
body.pc .info_list a { transition:all .5s; }
body.pc .info_list a:hover { background:#e0ecec; }
.tag_1 { display:inline-block; font-size:13px; margin:0 5px; line-height:100%; padding:7px 20px; color:#FFF; background:#27ab0d; }

#top_1,
#top_2 { position:relative; overflow:hidden; }
#top_1 .center,
#top_2 .center { position:relative; }
#top_1 .center:before,
#top_2 .center:before { position:absolute; top:-100px; opacity:0.15; line-height:100%;
	font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
#top_1 { background:url(../../common/image/contents/top/back.jpg) no-repeat center center / cover; }
#top_1:before { content:""; background:rgba(168,196,89,0.8); position:absolute; top:0; left:0; width:100%; height:100%;
	background: -moz-linear-gradient(top, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	background: linear-gradient(to bottom, rgba(168,196,89,0.8) 0%, rgba(15,122,69,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#ccA8C459', endColorstr='#cc0F7A45' ); }
#top_1 .center:before { content:"Service"; color:#fff; }
#top_2 .center:before { content:"Features"; color:#ddd; }
	@media (max-width: 575px){
		#top_1 .center:before,
		#top_2 .center:before { font-size:8em; left:-10px; }
	}
	@media (min-width: 576px){
		#top_1 .center:before,
		#top_2 .center:before { font-size:13em; left:-100px; }
	}

.grade_unit { position:relative; box-shadow:0 0 3px #999; }
.grade_unit a { text-decoration:none; color:#444; }
.grade_unit .text { text-align:center;
	background:rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#00ffffff', endColorstr='#ffffff' ); }
.grade_unit h3 { font-size:2.25em; font-weight:bold; }
.grade_unit p { color:#999; font-size:1.25em; }
	@media (max-width: 575px){
		.grade_unit { background:rgba(255,255,255,0.2); margin-bottom:30px; }
		.grade_unit a { display:table; width:100%; }
		.grade_unit a > * { display:table-cell; vertical-align:middle; }
		.grade_unit .photo { width:35%; }
		.grade_unit .text { padding:20px 0; }
	}
	@media (min-width: 576px){
		.grade_unit a { display:block; }
		.grade_unit .text { position:absolute; bottom:0; left:0; width:100%; padding:80px 0 20px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		.grade_unit h3 { font-size:1.75em; }
	}

.box_unit { position:relative; box-shadow:0 0 3px #999; margin-bottom:40px; }
.box_unit a { display:block; text-decoration:none; color:#444; }
.box_unit .photo { text-align:center; }
.box_unit .text { text-align:center; padding:10px 0; }
.box_unit h3 { line-height:140%; }
	@media (max-width: 575px){
		#top_2 .row { margin:0 -10px; }
		#top_2 .row > * { padding:0 5px; }
		#top_2 .box_unit .photo { padding:10px 25px 0; }
		.box_unit h3 { font-size:1.25em; }
	}
	@media (min-width: 576px){
		.box_unit .photo { padding:10px 35px 0; }
		.box_unit h3 { font-size:1.75em; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		.box_unit .photo img { max-width:150px; }
	}

.slash_unit { position:relative; background:url(../image/contents/slash_back.jpg) no-repeat left bottom / cover; overflow:hidden; }
.slash_unit a { display:block; text-decoration:none; color:#444; }
.slash_unit p { color:#999; }
	@media (max-width: 767px){
		.slash_unit .text { padding-top:30px; padding-bottom:30px; }
		.slash_unit h3 { font-size:2em; }
		.slash_unit p { margin-bottom:30px; font-size:1.15em; }
	}
	@media (min-width: 768px){
		.slash_unit .photo { position:absolute; top:0; width:calc(50vw + 100px); height:100%; }
		body.sp .slash_unit:not(._right) .photo { right:0; }
		.slash_unit .photo img { height:100%; width:auto; }

		.slash_unit:not(._right) .photo { background-position:left center; }
		.slash_unit._right .photo { background-position:right top; }
		.slash_unit._right .text { text-align:right; }
		.slash_unit h3 { font-size:2.25em; }
		.slash_unit p { margin-bottom:50px; font-size:1.25em; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		.slash_unit .photo { width:calc(100vw - 350px); }
		.slash_unit .text { padding:40px 20px; }
		.slash_unit p { margin-bottom:30px; }
	}

#top #top_kairo .kairo_text{display: table; background:url(../image/contents/top/kairo_back.jpg) no-repeat left top / cover;}
.top_recruit_b img{ckground: #fff;  box-shadow: 0 0 5px #ccc;  margin-bottom: 20px;}
#top #top_info h2 .title_news{margin-right: 5px;}
#top #top_info h2 .title_news img{padding-bottom: 15px;}

/*===================================================================
	information
===================================================================*/
#information .info_list a.fa_a { padding: 20px 20px 20px 50px;  background: #F9F9F9;}
#information .info_list a.fa_a:after {
	content:'' url(../image/contents/information/r_arrow.png)'';
    position: absolute;
    right: 20px;
    top: calc(50% - 0.4em);
}
#information .info_list a.fa_a::before{position: absolute;
top: 0;
left: 0;
display: block;
content: "";
background: #fff;
width: 30px;
height: 100%;
-moz-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
-webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
clip-path: polygon(0% 0%, 100% 0%, 0% 100%);}

#info_detail .title { font-size:1.75em; border-bottom:2px dotted #ccc; padding:0 0 20px; margin-bottom:40px; }
	@media (max-width: 575px){
		#info_detail .title { line-height:140%; }
	}

/*===================================================================
	privacy
===================================================================*/
#privacy .box{padding: 50px;}

/*===================================================================
	product
===================================================================*/
#product .feature p.num {font-weight: bold; color: #FFF; background: #0A8888; padding: 8px 0px; letter-spacing: 5px;}
#product .feature .box{background: #FAFAFA; padding: 25px 30px;}
#product .main_feature .flex_c { display: flex; align-items: center; background: #FAFAFA;}
#product .main_feature .flex_c h3{    border-bottom: 1px solid #B8DBDB; font-weight: bold; padding: 0 0 5px; margin: 0 0 10px; color: #0A8888; font-size: 1.5em;}
#product .main_feature .text_unit{padding: 0px 30px;}

#product .detail h3{border-bottom: 2px solid #E5E5E5; font-weight: bold; padding: 0 0 5px; margin: 0 0 10px; color: #0F6C6C; font-size: 1.5em;}

#product .feature .box h3{border-bottom: 1px solid #0A8888; font-weight: bold; padding: 0 0 5px; margin: 0 0 10px; color: #333; font-size: 1.5em; text-align: center;}
#product .top .pos_ab{top:0; }
#product .top .pos_ab .text{font-size: 1.75em; border-bottom: 1px solid #ccc; width: 50%; padding-bottom: 10px; margin-bottom: 10px;}
#product .shadow{box-shadow: 0 0 5px #ccc;}
#product .cat_unit .pro_name::before{content: "\f054"; font-family: "Font Awesome 5 Free"; -webkit-font-smoothing: antialiased; text-rendering: auto; display: inline-block; font-variant: normal; font-weight: bold; font-size: 0.85em; padding: 0 10px; color: #27AB0D;}
#product .cat_unit .pro_name {font-weight: bold;}
#product .cat_unit .photo { margin-bottom:10px; border: 1px solid #E2E2E2;}
.cat_unit a { color: #444; }
@media (max-width: 575px) {
		.cat_unit { margin-bottom:20px; }
		.cat_unit a { display:table; width:100%; border:1px solid #ddd; }
		.cat_unit a > * { display:table-cell; vertical-align:middle; }
		.cat_unit a > .photo { width:25%; }
		.cat_unit a > .text { padding:15px 20px; }
		.cat_unit p { font-size:13px; margin-bottom:50px; }
		.cat_unit a p { margin-bottom:0; }
	}
	@media (min-width: 576px){
		.cat_unit { margin-bottom:50px; }
		.cat_unit a { display:block; }
		.cat_unit h3 { font-size:1.5em; }
	}
#product .d_tbl{display: table;}


/*===================================================================
	way
===================================================================*/
#way .life{background:url(../image/contents/way/back.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;}
#way .life .living h2.hl_6{color: #008F4B!important;}
#way .life .living .button{color: #50A243!important; border: 1px solid #50A243;}
#way .life .living .button._type_2 a{color: #50A243!important;}
#way .illust_unit p:first-child{background: #F8F8F8; padding: 10px 0; margin-top: 50px;}
#way .illust_unit .illust .list a{text-decoration: none;}

#way .illust_unit .illust .maru{height: 40px; width: 40px; font-size: 25px; border-radius:50%; text-align:center; font-weight: bold; background: #FFF; color: #52A83E; border: 2px green solid; font-family: Segoe UI;    line-height: 35px;}
#way .illust_unit .illust ul.list li{position: absolute;}
#way .illust_unit .illust ul.list li:nth-child(1){ top: 37%; left: 81%;}
#way .illust_unit .illust ul.list li:nth-child(2){ top: 10%; left: 82%;}
#way .illust_unit .illust ul.list li:nth-child(3){ top: 53%; left: 70%;}
#way .illust_unit .illust ul.list li:nth-child(4){ top: 53%; left: 52%;}
#way .illust_unit .illust ul.list li:nth-child(5){ top: 49%; left: 42%;}
#way .illust_unit .illust ul.list li:nth-child(6){ top: 66%; left: 63%;}
#way .illust_unit .illust ul.list li:nth-child(7){ top: 64%; left: 41%;;}
#way .illust_unit .illust ul.list li:nth-child(8){ top: 10%; left: 38%;}

#way .item_list .unit a{color: #000;}
#way .item_list .unit a:hover{color: #008F4B;}
#way .item_list .unit .text .cat{ color: #0F6C6C; border: 1px solid #0F6C6C; background: #FFF; text-align: center;}
#way .item_list .unit .text h3.title span.name{text-decoration: underline;}
#way .item_list .unit .text h3.title span.num{color: #008F4B; font-weight: bold; font-size: 25px; font-family: Segoe UI; margin-right: 10px;}

/*===================================================================
	popup
===================================================================*/
#iframe.popup .hl_3{    border-radius: 0px; padding: 20px;}
#iframe.popup .hl_3 span{ border-left: 3px solid #FFF; padding-left: 10px;}
#iframe.popup .item .hl_1{background: #F8F8F8; text-align: left; padding: 10px 30px; font-size: 2em;}
#iframe.popup .item .hl_1 span{color: #52A83E; font-family: Segoe UI; margin-right: 15px;}
#iframe.popup .item .feature p{ border: 2px solid; text-align: center; border-radius: 5px; padding: 8px 0; font-weight: bold;}

#iframe.popup .product .bg_f{padding: 25px; text-align: center;}
#iframe.popup .product p.type{font-weight: bold; display: inline-block; text-align: left;}
#iframe.popup .product p.type a{color: #000;}
#iframe.popup .product p.type i{margin-right: 5px; color: #008F4B;}

/*===================================================================
	cairo
===================================================================*/
#cairo .top .pos_ab{top:0; }
#cairo .top .pos_ab .text{font-size: 1.75em; border-bottom: 1px solid #ccc; width: 50%; padding-bottom: 10px; margin-bottom: 10px;}
#cairo .shadow{box-shadow: 0 0 5px #ccc;}
#cairo .way_box{box-shadow: 0 0 5px #ccc; background: #fafafa; padding: 15px 0; font-weight: bold;}

/*===================================================================
	#company
===================================================================*/
#company a.map{text-decoration: none; border: 1px solid; border-radius: 5px; padding: 3px 40px; margin: 10px 0; display: inline-block;}
#company table.tbl_1 dl{margin: 25px 0;}

/*===================================================================
	#recruit
===================================================================*/
#recruit .page_title_wrap h2.hl_6{ font-size: 2.25em!important;}
#recruit .page_title_wrap p{border-top: 1px solid #EDEDED; padding-top: 10px; width: 50%;}
#recruit .recruit .box{ border-radius: 10px;}
#recruit .recruit .blank{ padding: 30px 0;}
#recruit .recruit .box .name{ font-size: 3em; color: #0F6C6C; margin-bottom: 30px;}
#recruit .recruit .box .name span{display: block; color: #526565; font-size: 0.5em;}

/*===================================================================
	#career #newcomer
===================================================================*/
#career .entry_b,#newcomer .entry_b{margin-top: 50px; margin-bottom: 100px;}
/*===================================================================
	#sitemap
===================================================================*/
#sitemap .sitemap h2 a{color: #000!important; text-decoration: none; display: block; padding: 15px 50px;}
#sitemap .sitemap .hl_5{padding: 0;}
#sitemap .sitemap p.link { margin: 0px 20px; font-size: 1.25em;}
#sitemap .sitemap p.link a{text-decoration: none; color: #27AB0D;}
#sitemap .sitemap p.link a::before{ content: "\f105"; color: #50A243; font-family: "Font Awesome 5 Free"; display: inline-block; font-weight: 900; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1 }{}

/*===================================================================
	contact
===================================================================*/
.form_button .button {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100%;
    position: relative;
    border: 1px solid #50A243;
    color: #50A243;
    background: #fff;
    padding: 12px 25px;
    min-width: 250px;
}
#contact tr.first th, #contact tr.first td{padding: 80px 30px 30px 30px!important;}
#contact tr.last th, #contact tr.last td{padding: 30px 30px 80px 30px!important;}
/*===================================================================
	common
===================================================================*/
/*キーピット共通フッター*/
.midashi_back{ box-shadow: 0 0 5px #ccc;}

#common_product_foot{}
#common_product_foot .page_link { position:relative; border:1px solid #ccc; margin-bottom:30px; }
#common_product_foot .page_link a { color: #000; text-decoration: none; font-weight: bold; }
#common_product_foot .page_link .photo { }
#common_product_foot .page_link .text { padding: 20px 0; text-align: center;}
#common_product_foot .page_link:after { content: ""; position: absolute; bottom: 3px; right: 3px; border-style: solid; border-width: 5px; border-color: transparent #0F6C6C #0F6C6C transparent;}
#common_product_foot .page_link:hover { background:#e8f1f1; }

/*hl*/
.hl_1 { font-weight:bold; text-align:center; margin-bottom:50px; }
.hl_1 .sub { display:block; color:#74bfa5; font-size:18px; font-weight:normal; }
.hl_1.pos_al { text-align:left; }
	@media (max-width: 575px){
		.hl_1 { font-size:1.75em; }
	}
	@media (min-width: 576px){
		.hl_1 { font-size:2.5em; }
	}

.hl_2 { position:relative; border-bottom:2px solid #27ab0d; margin-bottom:50px; }
.hl_2 h2 { font-weight:bold; }
.hl_2 h2 .sub { font-size:16px; color:#999; vertical-align:middle; padding-left:15px; }
.hl_2 .right { position:absolute; right:0; bottom:0.4em; }
.hl_2 .right a { color:#444; }
	@media (max-width: 767px){
		.hl_2 h2 { font-size:1.75em; }
	}
	@media (min-width: 768px){
		.hl_2 h2 { font-size:2em; }
	}

.hl_3{ margin-bottom: 30px; font-size: 1.5em; background: #50A243; padding: 15px 50px; font-weight: bold; border-radius: 5px; color: #FFF; box-shadow: 0px 5px 5px -4px rgba(112,112,112,0.6);}
.hl_3 { position:relative;  line-height:100%; margin-bottom:50px; }
.hl_3 .main { font-size:2.5em; }
.hl_3 .sub { padding:5px 15px 0; color:#999; }


.hl_4 { position: relative; line-height: 100%; border-bottom: 2px solid #D8D8D8; margin-bottom: 30px; padding: 15px 0px; font-weight: bold;}
.hl_4:after {
  content: "";
  display: block;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  border-bottom:2px solid #27AB0D;
}
	@media (max-width: 575px){
		.hl_4 { font-size:1.5em; }
	}
	@media (min-width: 576px){
		.hl_4 { font-size:1.75em; }
	}

.hl_5 { position: relative; line-height: 100%; border-bottom: 1px solid #CBCBCB; padding: 15px 50px; font-weight: bold;}
.hl_5:after { content: "\f105"; position: absolute; left: 20px; top: calc(50% - 0.4em); color: #50A243; font-family: "Font Awesome 5 Free"; display: inline-block; font-weight: 900; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1 }
	@media (max-width: 575px){
		.hl_5 { font-size:1.5em; }
	}
	@media (min-width: 576px){
		.hl_5 { font-size:1.75em; }
	}

.hl_6{ color: #0F6C6C; font-size: 2.75em; }

/* table */
.tbl_1 { width:100%; }
.tbl_1 tbody th, .tbl_1 tbody td { border-bottom:1px dotted #ccc; }
.tbl_1 thead th { font-weight:bold; font-size:1.1em; width:200px; background: #FAFAFA; }
	@media (max-width: 575px){
		.tbl_1 { font-size:0.9em; }
		.tbl_1 th, .tbl_1 td { padding:10px; }
		#company .tbl_1 tbody th { width:90px; }
	}
	@media (min-width: 576px){
		.tbl_1 th, .tbl_1 td { padding:15px 30px; }
	}

.tbl_2 { width:100%; }
.tbl_2 tbody th, .tbl_2 tbody td { border-bottom: 1px solid #D4D4D4; }
.tbl_2 tbody th { background: none; color: #0F6C6C; white-space: nowrap;}
.tbl_2 tbody tr:nth-child(even) th,.tbl_2 tbody tr:nth-child(even) td{background: #FCFCFC;}
	@media (max-width: 575px){
		.tbl_2 { font-size:0.9em; }
		.tbl_2 th, .tbl_2 td { padding:10px; }
		#company .tbl_2 tbody th { width:90px; }
	}
	@media (min-width: 576px){
		.tbl_2 th, .tbl_2 td { padding:20px 50px; }
		.tbl_2 th{padding:15px 30px;  width: 200px;}
	}

.tbl_product { width:100%; }
.tbl_product th,
.tbl_product td { vertical-align:middle; text-align:center; border: 2px solid #0F6C6C; padding: 10px 0;}
	@media (min-width:576px){
		.tbl_product thead th:first-child{border-left: 2px solid #0F6C6C;}
		.tbl_product thead th:last-child{border-right: 2px solid #0F6C6C;}
		.tbl_product th{ width: 200px; background: #0F6C6C; color: #FFF; white-space: nowrap; border-left: 2px solid #FFF; border-right: 2px solid #FFF;}
		.tbl_product .th { padding:5px 15px; }
	}
	@media (max-width:575px){
		.tbl_product thead th{border:none; color: #0F6C6C; font-weight: bold;}
		.tbl_product { font-size:13px; }
		.tbl_product .th { padding:5px 8px; }
		.tbl_product tbody th { color:#fff; font-weight:bold; background:#0F6C6C; }
		.tbl_product tbody .detail { text-align:left; font-size:12px; }
	}

/* お知らせなどbox */
.box_in { padding:50px; }
.box_title { border-bottom:2px solid #ddd; padding:0 0 10px; margin:0 0 20px; }
	@media (max-width: 575px){
		.box_in { padding:30px; }
		.box_title { font-size:1.5em; }
	}
	@media (min-width: 576px){
		.box_in { padding:50px; }
		.box_title { font-size:2em; }
	}
/* button*/

	.button,
	a.button { display:inline-block; position:relative; text-align:center; line-height:100%; text-decoration:none; }
	.button i.fa { margin:0 5px; }
	.button i.arrow { background:url(../image/contents/arrow.png) no-repeat center right/ contain; width:25px; height:14px;
						position:absolute; right:20px; }
	.button i.fa-chevron-right { position:absolute; right:10px; font-size:12px; }
	.button i.fa-chevron-left { position:absolute; left:10px; font-size:12px; }

	.button._green,
	a.button._green { width:100%; max-width:320px; color:#fff; border:2px solid #106b6c; background:#106b6c; border-radius:50px; overflow:hidden; padding:15px; }
	.button._green._large { font-size:1.5em; max-width:380px; padding:25px; }
	body.pc .button._green:hover { background:#fff; color:#106b6c; }

	.button._back { border:1px solid #999; background:#999; color: #FFF;}
	.button._more { border:1px solid #fff; font-size:14px; }

	.box { background:#fff; box-shadow:0 0 5px #ccc; margin-bottom:20px; }
	.box .text { padding:25px; }
	.box h3 { border-bottom:1px solid #ddd; font-weight:bold; padding:0 0 5px; margin:0 0 10px; color:#106b6c; }
	.button i.arrow_cg { background: url(../image/contents/arrow_cg.png) no-repeat center right/ contain; width: 25px; height: 14px; position: absolute; right: 20px;}
	.button i.arrow_cg2 { background:url(../image/contents/arrow_cg2.png) no-repeat center right/ contain; width:25px; height:14px;position:absolute; left:20px; }
	.button i.arrow_cg3 { background: url(../image/contents/arrow_cg3.png) no-repeat center right/ contain; width: 25px; height: 14px; position: absolute; right: 20px;}

	.button._type_2,
	a.button._type_2 { position:relative; display:block; border:1px solid #0F6C6C; max-width:300px; margin:0 auto; color:#0F6C6C; }
	.button._type_2 a{ display: block; padding: 15px; color: #0F6C6C!important;}
	body.pc .button._type_2:hover { background:#106b6c; }
	.button._type_2 a:hover{ color: #FFF!important;}

	body.pc .button._type_2:hover i { display:none; }
/*===================================================================
	#entry
===================================================================*/
.entry { text-align:left; }
.entry img { height:auto !important; }
.entry p { margin-bottom:15px; }
.entry ul,
.entry ol { list-style:none; margin-bottom:20px; }
.entry ul > li,
.entry ol > li { position:relative; margin:0 0 5px 20px; }
.entry ul > li:before { color:#D0767D; content:"■"; font-size:10px; position:absolute; top:3px; left:-18px; }
.entry ul > li > ul > li:before { color:#3a629c; content:"\f105"; }
.entry ol { counter-reset:ol_li; }
.entry ol > li:before { color:#bd3e47; counter-increment:ol_li; content:counter(ol_li)"."; position:absolute; top:1px; left:-20px; font-weight:bold; }
.entry ol > li > ol > li:before { color:#f49901; }

.entry dl {}
.entry dt { color:#000;}
.entry dd { margin-bottom:20px; }

.entry table { margin-bottom:50px; width:100%; box-shadow: 0 0 3px #999;}
.entry th,
.entry td { padding:30px; border-bottom: 1px solid #ccc; vertical-align: middle; }
.entry thead th { background:#006b4d; color:#fff; font-weight:bold; }
.entry thead td { background:#4b9681; color:#fff; font-weight:bold; }
.entry tbody th {font-weight:bold; border-left: 50px solid #fff; position: relative;}
.entry tbody td {border-right: 50px solid #fff; }
.entry tbody tr > th:nth-child(1) { width:25%; max-width:280px; }

@media (min-width: 768px){
	.entry tbody th span{position: absolute; right:10px;}
	.entry tbody .first th, .entry tbody .first td {border-top: 25px solid #fff;}
	.entry tbody .last th, .entry tbody .last td {border-bottom: 25px solid #fff;}

}
@media (max-width: 767px){
	.tbl_form, .tbl_form tbody, .tbl_form tr, .tbl_form th, .tbl_form td {display: block;}
	.entry tbody tr > th:nth-child(1) {width: 100%; max-width: unset;     padding-bottom: unset;}
	.entry tbody td { border-left: 10px solid #FFF; border-right: 10px solid #fff;}
	.entry tbody th { border-bottom:unset;border-left: 0px solid #fff;}
	.entry tbody th span {margin-left: 10px;}
	.entry th, .entry td {padding: 25px 15px;}

}

/*===================================================================
	color
===================================================================*/
/* background */
.bg0 { background-color:#fff; }
.bg_1{background: #E5F4EC;}
.bg_f{background: #FFF;}
.bg_gray { background-color:#fafafa; }
.bg_green { background-color:#106b6c; }
.bg_green2 { background-color:#27AB0D; }
.bg_greeno { background-color:#eaf3df; }

.c_ { color:#444 !important; }
.c0 { color:#fff !important; }
.cg { color:#106b6c !important; }
.cg2 { color:#51a243 !important; }
.cg3 { color:#0F7A45 !important; }
.cg4 { color:#85B354 !important; }
.cg5 { color:#50A243 !important; }
.cg6{color:#0A8888!important;}


/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb100 { margin-bottom:100px !important; }

.mt50 {margin-top: 50px!important;}

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width:100%; height:100%; }
.disp_td { display:table-cell; vertical-align:middle; }

.bor5 { display:block; border-radius:5px; overflow:hidden; }
.bor10 { display:block; border-radius:10px; overflow:hidden; }
.bor50 { display:block; border-radius:50%; overflow:hidden; }

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"],
body.pc .parallax[data-parallax-in="vertical4"]  { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { transform:translateY(120px); -webkit-transform:translateY(120px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }
body.pc .parallax[data-parallax-in="right"] { right:0; }
body.pc .parallax[data-parallax-in="right"]:not(.parallax_on) { right:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.pos_ac-sp{text-align: center;}
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; font-size:13px;
		-webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
